$PrimaryLighter: #c8fad6;
$PrimaryLight: #5be49b;
//link visted :
$PrimaryMain: #00a76f;

// icon hover
$PrimaryDark: #007867;
$PrimaryDarker: #004b50;

//Secondary
$SecondaryLighter: #efd6ff;
$SecondaryLight: #c684ff;
$SecondaryMain: #8e33ff;
$SecondaryDark: #5119b7;
$SecondaryDarker: #27097a;

//Info :

$InfoLighter: #cafdf5;
$InfoLight: #61f3f3;
$InfoMain: #00b8d9;
$InfoDark: #006c9c;
$InfoDarker: #003768;

//Success :

$SuccesLighter: #d3fcd2;
$SuccesLight: #77ed8b;
$SuccesMain: #22c55e;
$SuccesDark: #118d57;
$SuccesDarker: #065e49;

//Warning :

$WarningLighter: #fff5cc;
$WarningLight: #ffd666;
$WarningMain: #ffab00;
$WarningDark: #b76e00;
$WarningDarker: #7a4100;

//Error :
$ErrorLighter: #ffe9d5;
$ErrorLight: #ffac82;
$ErrorMain: #ff5630;
$ErrorDark: #b71d18;
$ErrorDarker: #7a0916;

//Grey :
$Grey100: #f9fafb;
$Grey200: #f4f6f8;
$Grey300: #dfe3e8;
$Grey400: #c4cdd5;
$Grey500: #919eab;
$Grey600: #637381;
$Grey700: #454f5b;
$Grey800: #212b36;
$Grey900: #161c24;
